* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'DIN OT';
}

body {
  background-color: #BEBEBE;
  }

/* Estilizando banners */
.banner {
  width: 100%;
}

main {
  margin-top: -5%;
  margin-bottom: -35%;
}

p {
  font-weight: bold;
}

/* estilizando cards */
.container {
  width: 100%; 
  height: 100%; 
  margin: 0 auto;
  text-align: center;
  font-size: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card {
  width: 260px;
  background-color: #fff;
  border-radius: 15px;
  margin: 15px;
}

.card_header {
  height: 70px;
  background-color: #E4212A;
  color: white;
  font-weight: bold;
  font-size: 28px;
  border-radius: 15px 15px 0 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_body {
  background-color: #FFFFFF;
  color: #a5a5a5;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  font-size: 12px;
   
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card_body img{
  padding: 5px;
}

.card_body p{
  padding: 5px;
}

.card_footer{
  background-color: #F4F4F4;
  align-items: center;
  text-align: center;
  position: relative;
  height: 130px;
  padding-bottom: 25px;
  border-radius: 0 0 15px 15px;
}

.valor {
  color: red;
  font-family: 'DIN OT';
  font-weight: bold;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cifrao {
  font-size: 20px;
  padding-top: 38px;
}

.valor1 {
  font-size: 63px;
  padding-top: 18px;
}

.valor2 {
  padding-top: 12px;
  font-size: 16px;
  margin-bottom: 35px;
}

.ao_mes {
  margin-left: -22px;
  padding-top: 40px;
  font-size: 18px;
}

.botao_personalizado {
  background-color:#ffbc4b;
  color: #FFFFFF;
  border: 0;
  height: 40px;
  width: 165px;
  border-radius: 30px;
}

/* Estilizando Footer */
#beneficios_finais {
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-image: linear-gradient(to right, #910C18 , #E4212A);
  padding-top: 3%;
  padding-right: 10%;
  padding-left: 10%;
  

  display: flex;
  justify-content: center;
  margin-top: 35%;
}

.logo_rodape {
  margin-top: -20px;
  width: 105px;
  height: 60px;
}

.titulo_rodape {
  color: #ffbc4b;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.text_rodape {
  font-weight: normal;
  font-size: 15px;
  text-align: center; 
  padding: 15px;
}

#wifi_plus1 {
  margin-top: 1%;
}

#now_filmes_online {
  margin-top: 1%;
}

#claro_assist{
  margin-top: -1%;
}

#net_claro_wifi {
  margin-top: -1%;
}

/* Responsivo */

@media (min-width:600px) {
  .banner_mobile {
      display: none;
  }

  .banner {
      width: 100%;
  }
}

@media (max-width: 600px) {
  .banner {
    display: none;
  }
  
  .banner_mobile{
    width: 100%;
  }

.container {
  margin-top: -6%;
  flex-direction: column;
}

  .card {
    align-items: center;
    margin-top: 1px;
  }

  #beneficios_finais {
    flex-direction: column;
    margin-top: 40%;
    padding: 10%;
    align-items: center;
  }

  #wifi_plus1 {
    margin-top: 12%;
  }
  
  #now_filmes_online {
    margin-top: 12%;
  }
  
  #claro_assist{
    margin-top: 16%;
  }
  
  #net_claro_wifi {
    margin-top: 15%;
  }
}